/* contoso specific items below here */
html {
    font-size: 14px;
    font-family: 'Geist', sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


@media (prefers-color-scheme: dark) {
    :root {
        --bs-body-bg: hsl(0, 0%, 11%);
        --bs-body-color: hsl(0, 0%, 100%);
    }
    body {
        /*background-color: var(--bs-body-bg);*/
    }
}
/*html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

ul{

}*/