@page
@model ErrorModel
@{
    Layout = "";
    ViewData["Title"] = "Error";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Contoso.Starter</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/fonts.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NewWebApp11.styles.css" asp-append-version="true" />
</head>
<body class="sad-pandabg">
    <div class="error-message">
        <h1 class="text-danger">Sorry</h1>
        <h2 class="text-danger">An error occurred while processing your request.</h2>
		<p class="text-danger">
            Contact <a href="mailto:sadpanda@contoso.com">sadpanda@contoso.com</a> if the problem persists.
        </p>
    </div>
</body>
</html>



